.article
	.article-title
		h4= locals.date
		h1= locals.title
		h5= locals.venue
		h5= " at " + locals.location
		h5= locals.time
	.article-body
		img(src= locals.poster_large)

		each artist in locals.artists
			p= artist