.article
	ul.code-list

		for event_obj, slug in public.curitorial._data
			li
				a(href="/curitorial/#{ slug }")
					.left-side
						image(src= event_obj.poster_small )
					.col.right-side
						h4= event_obj.date
						h1= event_obj.title
						h3.description= event_obj.description_mini
						h6= event_obj.venue + " at " + event_obj.location
