.article
	ul.code-list

		for event_obj, slug in public.curatorial._data
			li
				a(href="/curatorial/#{ slug }")
					.left-side
						image(src= event_obj.poster_small )
					.col.right-side
						br
						h1= event_obj.title
						h4.description= event_obj.description_mini
						h4.description= "Opening: " + event_obj.date + " " + event_obj.time
						h6= event_obj.venue + " at " + event_obj.address + " " + event_obj.address1
