.article
	.article-title
		h4= locals.date
		h1= locals.title
		h5= "tags: " + locals.tags
	.article-body
		h4 Spring 2016-to present day
		a.button.left(href=locals.link) visit here

		a(href=locals.link)
			img(src= locals.walkthrough)

		