- var code_obj = public.code._data["escape-mt-akoom"]

.article
	.article-title
		h4= code_obj.date
		h1= code_obj.title
		h5= code_obj.tags
	.article-body
		h4 (Spring 2016-Summer 2016)
		p url: 
			a(href=code_obj.link)= code_obj.link

		a(href=code_obj.link)
			img(src= code_obj.walkthrough)