.film-outer
	div.film_bg
	div.iframe-holder
		iframe(width="640" height="390" src=locals.trailer frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture")
	.article-body

		p= locals.blurb

		h2 Cast
		.cast
			each actor in locals.cast
				if actor.link && actor.link.length > 0
					a(href="#{actor.link}")
						p #{actor.name}
				else
					p #{actor.name}

		h2 Awards
		each laural in locals.laurel_white
			img.awards(src="#{laural}")

		h3 Synopsis
		p= locals.synopsis

		h3 Crew
		.crew
			for block, slug in locals.crew
				if block.link && block.link.length > 0
					h4.center= slug + ":"
						a(href="#{block.link}")
							p #{block.name}
				else
					h4.center= slug + ":"
							p #{block.name}

		br
		.film-details
			h4.center Runtime:
				p= locals.runtime

			h4.center Language:
				p= locals.language

			h4.center Release Date:
				p= locals.release_date

		h2 Posters
		each poster in locals.posters
			img.posters(src="#{poster}")

		h2 Stills
		each still in locals.stills
			img.stills(src="#{still}")